body{
    display: 0;
    margin: 0;
}
.sai{
    background: linear-gradient(to right,#348F50,#56B4D3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sai-1{
     background-color:rgba(245, 245, 245, 0.945);
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10;
 }
 .sai-1 h1{
     text-align: center;
 }
 .sai-2{
    flex-direction: column;
 }
 input{
    display: flex;
    flex-direction: row;
 }


