body{
    margin: 0;
    display: 0;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}
.login-bar h1{
    text-align: center;
}
.sai a{
    margin-left: 50vh;
   border: 0.5px solid green;
   border-radius: 5px;
   background-color: aqua;
   color:#fff;
   cursor: pointer;
   text-decoration: none;
   padding: 10px 10px 10px 10px;
}
.sai :hover{
    background: red;
}
.login-bar{
    border: 5px solid black;
    padding: 10px 10px 10px 10px;
}
input{
    padding: 10px 10px 10px 10px;
    width: 90%;
    border-radius: 20px;
   box-shadow: 0vi;
}
.login-bar a{
   margin: 10px; 
   cursor: pointer;
}
.login-bar a :hover{
    color: red;
}


